#features {
    padding: 125px 0 130px;
}

.features__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.features-item {
    max-width: 335px;
    margin-bottom: 100px;
}

.item__icon {
    margin-bottom: 60px;

    img {
        display: block;
        margin: 0 auto;
    }
}

.item__title {
    margin-bottom: 40px;
    text-align: center;
    @include h4_text;
    color: $_black;
}

.item__description {
    p {
        text-align: center;
        @include h5_text;
        color: $_gray;
    }
}