.wrap {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.item {
    max-width: 380px;
    position: relative;

    &__img {
        overflow: hidden;
        
        img {
            display: block;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 67, 67, 0.8);
            opacity: 0;
            transition: 0.25s;
        }
    }

    &__hover-text {
        position: absolute;
        width: 100%;
        top: 38.5%;
        left: 0;
        opacity: 0;
        transition: 0.25s;

        .hover-text__title {
            margin-bottom: 20px;
            text-align: center;
            @include h4_text;
        }
        .hover-text__description {
            text-align: center;
            @include h5_text;
        }
    }

    &:hover {
        .item__hover-text {
            opacity: 1;
        }
        .item__img::after {
            opacity: 1;
        }
    }

    &:active {
        .item__img::after {
            background-color: $_dark_red;
        }
    }
}